body{
    min-height: 80vh;
    background: #e7e7e7;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
  }
 
  /* Button */
  .button{
    position: relative;
    background: #d1d1d1;
    
    border-radius: 15px;
    border: none;
    color: #ddd;
    font-size: 16px;
    padding: 20px 75px;
    overflow: hidden;
    text-decoration: none;
    transition: all .15s ease-in;
    box-shadow: 0 2px 60px #bfbfbf, 0 2px 8px #ddd, 0 15px 30px #ddd,
                inset 0 0 1px 1px hsl(0deg 0% 100% / 90%), 0 20px 27px 0 rgb(0 0 0 / 5%);
    cursor: pointer;
  }
  
  .button:hover{
    box-shadow: 0 2px 13px #ababab, 0 2px 8px #ddd, 0 15px 30px #ddd,
                inset 0 0 1px 1px hsl(0deg 0% 100% / 90%), 0 20px 27px 0 rgb(0 0 0 / 5%);
  }
  
  .button:active{
    box-shadow: 0 2px 4px #ababab, 0 2px 8px #ddd;
  }
  
  .button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: inset 0 0 2px #fefefed1;
    -webkit-backdrop-filter: saturate(200%) blur(30px);
    backdrop-filter: saturate(200%) blur(1px);
    background-color: hsla(0,0%,100%,.3)!important;
    box-shadow: inset 0 4px 5px #ffffffc4,
                inset 0 2px 2px #fffc,
                inset 0 -2px 4px #ffffff80;
    z-index: 1;
  }
  
  .button::after{
    content: "probando cosas";
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #3a3737;
    font-weight: 400;
    font-size: 40px;
    text-shadow: 0px 1px 2px rgb(215 214 214 / 75%),
                 0px 0px 1px rgb(215 214 214 / 75%);
    transform: scaleX(-1);
    font-family: 'Inter', sans-serif;
  }
  
  /* Video */
  #video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    transform: scale(3) scaleX(-1);
    filter: blur(1px) saturate(0.5) brightness(.9);
  }
  
  /* Paragraph */
  p{
    margin-top: 50px;
    color: #3a3737;
  }
  
  /* Hyperlink */
  a{
    text-decoration: none;
    color: #3a3737;
  }
  
  a:hover{
    color: #0b0b0b;
  }