/*
body {
    background-image: url(img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor{
    background-image: url(img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 200px;
}
*/
body{
    background-color: #bcfefe52;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    min-height: 40vh;
    display:flex ;
    align-items: center;
    justify-content: center;
}
form{
   /* background-color: #707070;*/
    padding: 50px 55px 85px 55px;
    box-shadow: 0 0 20px #0C5776;
    border-radius: 20px;
    text-align: center;
    width: 340px;
}
.formulariocontenido{
    background-color: #9B27B00D;
}
.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}
h2 {
    color: dodgerblue;
    font-size: 35px;
    margin: 0;
}
p{
    font-size: 16px;
    color: dodgerblue;
    margin-bottom: 20px;
}
.line{
    border-radius: 5px;
    display: inline-block;
    width: 100px;
    height: 7px;
    background: linear-gradient(
        90deg,
        rgba(0,28,68,1) 0%,
        rgba(45,153,174,1) 77%
    );
}
label {
    color:dodgerblue;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
input{
    padding: 17px 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid #EDEDED;
    color: dodgerblue;
    outline: none;
}
input::placeholder{
    color: dodgerblue;
    font-size: 1em;
}
.form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.form-txt a{
    color:dodgerblue;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
.btn{
    width: 100%;
    font-size: 20px;
    color: #bcfefe;
    border: 0;
    border-radius: 25px;
    background: linear-gradient(
        90deg,
        rgba(0,28,68,1) 0%,
        rgba(45,153,174,1) 77%
    );
    
    box-shadow: 0 0 20px rgba(12,87,118,0.7);
    cursor: pointer;
}
.btn:hover{
    background: linear-gradient(
        90deg,
        rgba(45,153,174,1) 0%,
        rgba(0,28,68,1) 77%
        
    );
    box-shadow: 0 0 20px rgba(12,87,118,1.4);
    
}
.formulario{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.btn2{
    width: 100%;
    font-size: 16px;
    color: #fff;
    border: 0;
    border-radius: 20px;
    background: rgba(12,87,118,4);
    box-shadow: 0 0 20px rgba(12,87,118,0.6);
    cursor: pointer;
}
.btn2:hover{
    box-shadow: 0 0 20px rgba(12,87,118,1.4);
}

label{
    color:dodgerblue;
}
select {
    
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border: 0!important;
    background: #fff;
    background-image: none;
    flex: 1;
    padding: 0 .1em;
    color:dodgerblue;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 21em;
    height: 3em;
    line-height: 3;
    background: #fff;
    overflow: hidden;
    border-radius: .25em;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 00;
    right: 0;
    padding: 0 1em;
    background: #0C5776;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select:hover::after {
    color: #707070;
 }
 

@media(max-width:550px){
    body{
        padding: 30px;
    }
    form {
        padding: 50px 30px;
        width: 100%;
    }
    input{
        padding: 15px 10px;
    }
}