@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap");
body {
  display: flex;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #333;
  background-image: linear-gradient(
    135deg,
    #a1286836 0%,
    #2d6c8534 46%,
    #745d3f1e 100%
  );

  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.container .card {
  position: relative;
}
.container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.4s;
}
.container .card .face.front {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}
.container .card:hover .face.front {
  transform: translateY(0);
  box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff, inset 20px 0 300px #f0f, inset -20px 0 300px #0ff,
    0 0 50px #fff, -10px 0 80px #f0f, 10px 0 80px #0ff;
}
.container .card:nth-child(2):hover .face.front {
  box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px rgb(255, 208, 0),
    inset -20px 0 80px rgb(255, 196, 0), inset 20px 0 300px rgb(255, 182, 46),
    inset -20px 0 300px rgb(255, 153, 0), 0 0 50px #0098be,
    -10px 0 80px rgb(255, 174, 0), 10px 0 80px rgb(0, 162, 255);
}
.container .card:nth-child(3):hover .face.front {
  box-shadow: inset 0 0 60px whitesmoke, inset 20px 0 80px rgb(63, 41, 16),
    inset -20px 0 80px rgb(26, 11, 2), inset 20px 0 300px rgb(24, 19, 5),
    inset -20px 0 300px rgb(53, 27, 13), 0 0 50px #ffca7f,
    -10px 0 80px rgb(70, 45, 8), 10px 0 80px rgb(51, 40, 32);
}
.container .card .face.front .content {
  width: 100%;
  height: 100%;
  opacity: 0.2;
  transition: 0.5s;
  text-align: center;
}
.container .card:hover .face.front .content {
  opacity: 1;
}
.container .card .face.front .content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .card .face.front .content i {
  font-size: 3em;
  color: white;
  display: inline-block;
}
.container .card .face.front .content h3 {
  font-size: 1em;
  color: white;
  text-align: center;
}
.container .card .face.front .content a {
  transition: 0.5s;
}
.container .card .face.back {
  position: relative;
  background-color: #ffffff;
  background-image: linear-gradient(160deg, #ffffff 0%, #ffdeff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transform: translateY(-100px);
}
.container .card:hover .face.back {
  transform: translateY(0);
}
.container .card .face.back .content p,
button {
  font-size: 13px;
  margin: 0;
  padding: 0;
  color: #333;
}
.container .card .face.back .content button {
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  margin: 15px 0 0;
  transition: all 0.3s;
  cursor: pointer;
  font-weight: bold;
  background-color: #333;
  border-radius: 6px;
}
.container .card .face.back .content button:hover {
  letter-spacing: 1px;
}