/*
body {
    background-image: url(img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.contenedor{
    background-image: url(img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 200px;
}

*/
body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  /* background-color: #707070;*/
  padding: 50px 55px 85px 55px;
  box-shadow: 0 0 20px #186fc0;
  border-radius: 20px;
  text-align: center;
  width: 340px;
}
.formulariocontenido {
  background-color: #9b27b00d;
}
.input-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}
h2 {
  color: #1b1b1b;
  font-size: 35px;
  margin: 0;
}
p {
  font-size: 16px;
  color: #353535;
  margin-bottom: 20px;
}
.line {
  display: inline-block;
  width: 50px;
  height: 7px;
  background: linear-gradient(90deg, rgb(0, 152, 254) 0%, rgb(1, 195, 254) 77%);
}
label {
  color: #1b1b1b;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}
input {
  padding: 17px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 2px solid #ededed;
  color: #1b1b1b;
  outline: none;
}
.boton {
  font-size: 16px;
  color: #fffcff;
  border: 0;
  border-radius: 25px;
  background: linear-gradient(
    90deg,
    rgb(17, 0, 254, 1) 0%,
    rgb(1, 203, 254) 70%
  );
  box-shadow: 0 0 20px rgb(1, 203, 254, 0.5);
  cursor: pointer;
}
.Boton:hover {
  background: linear-gradient(
    90deg,
    rgba(1, 203, 254) 0%,
    rgba(17, 0, 254, 1) 77%
  );
}
input::placeholder {
  color: #707070;
  font-size: 1em;
}
.form-txt {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.form-txt a {
  color: #1b1b1b;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
.btn {
  font-size: 16px;
  color: #ffcfff;
  border: 0;
  border-radius: 25px;
  background: linear-gradient(90deg, rgb(0, 152, 254) 0%, rgb(1, 195, 254) 77%);
  box-shadow: 0 0 20px rgba(214, 0, 254, 0.4);
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(90deg, rgb(0, 152, 254) 0%, rgb(1, 195, 254) 77%);
}
label {
  color: #707070;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #fff;
  background-image: none;
  flex: 1;
  padding: 0 0.1em;
  color: #707070;
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 21em;
  height: 3em;
  line-height: 3;
  background: #fff;
  overflow: hidden;
  border-radius: 0.25em;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #09d1d1;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: #707070;
}

@media (max-width: 991px) {
  body {
    padding: 30px;
  }
  form {
    padding: 50px 30px;
    width: 100%;
  }
  input {
    padding: 15px 10px;
  }
}
